    
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Zari me</p>
<p>Zare Berber</p>
<h1>"This service is of great value to our company and our upcoming world domination"</h1>
<span>-Matt Mullenweg, CEO</span>
<div class="panel panel-danger">
    <div class="panel-body">
        <p>Something nice</p>
    </div>
</div>
